nav {
    background: #2c2c2c transparent;
    display: block;
    width: 90%;
    padding: 0.7rem;
    z-index: 2;
    border-bottom: 1px solid #ffffff;
    position: fixed;
    top: 1rem;
    display: flex;
    backdrop-filter: blur(20px);
    transition: 300ms;
    justify-content: space-around;
    align-items: center;
}

.nav__items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.nav__div {
    height: 8rem;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    background: #222222;
    transition: 200ms;border-bottom: 2px solid transparent;
}

.nav__div:hover {
    border-bottom: 2px solid white;
    transition: 200ms
}

nav a {
    background: transparent;
    padding: 0.9rem;
    display: flex;
    color: var(--color-light);
    font-size: 1.1rem;
    transition: 300ms;
    margin-left: 10px;
    border-bottom: 2px solid transparent;
}

nav a:hover {
    background: var(--color-dark);
    transition: 200ms;
    border-bottom: 2px solid white;
}

/* 
nav a.active{
    background: red;
color: black;
} */
/*========Media queries small============*/
@media screen and (max-width: 1060px) {
   nav{
    display: block;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    position: absolute;
    /* height: 32rem; */
   }
   #logo{
    text-align: center;
    margin-bottom: 2rem;
   }
   .nav__items{
    display: block;
    text-align: center;
    justify-content: center;
   }
   .nav__items a{
    text-align: center;
    justify-content: center;
   }
   .nav__div{
    height: 40rem;
   }
}
